@font-face {
   font-family: 'TelefonicaWeb-Regular';
   font-display: swap;
   src: url('file:///D:/OneDrive/Work/Clients/ONE%20TECH/WebUpgrade%202021/2021%2003%2008/fonts/TelefonicaWeb-Regular/font.ttf');
}
