@font-face {
   font-family: 'TelefonicaWeb-Hand';
   font-display: swap;
   src: url('file:///D:/OneDrive/Work/Clients/ONE%20TECH/WebUpgrade%202021/2021%2003%2008/fonts/TelefonicaWeb-Hand/font.ttf');
}
